#section-0 .content{
    /*margin:0!important;*/
}

#section-0 .content h3, #region-main div h2{display:none;}
#page-header a, #page-content a{color:#016CAC;}
.modified{display:none;}
.activity-navigation{display:none;}
.jumpmenu{display: none !important;}
.section-navigation{display: none;}
.content > .container{padding-bottom: .5rem;}
h3.sectionname{color:#016CAC;text-align:left !important;margin-left:3.5rem;font-weight:300;}
.activityinstance{margin-left:2rem;}

h1,h2,h3,h4,h5{margin-bottom: 1.5rem;color:#016CAC;}



.aus-journey-link-box{text-align:center;border:1px solid #016CAC;margin:10px;-webkit-box-shadow:5px 5px 5px 0px rgba(242,242,242,1);-moz-box-shadow: 5px 5px 5px 0px rgba(242,242,242,1); box-shadow: 5px 5px 5px 0px rgba(242,242,242,1);}
.aus-journey-link-box a{display:block;width:100%;height:100%;padding:10px;}
.aus-journey-link-box:hover,.aus-journey-link-box:focus{background-color:#016CAC;}
.aus-journey-link-box a:hover,.aus-journey-link-box a:focus{color:#fff !important;text-decoration:none;background-color:#016CAC;box-shadow:none;}




.arts-nav {overflow: hidden;margin-left:1.5rem !important;}
.arts-nav a{float:left;font-size:1.2em;color:#777 !important;text-align: center;padding:14px 2px 0 2px;text-decoration:none;font-weight:400;margin-right:20px;}
.arts-nav a::after, .arts-dropdown .arts-dropdown-btn::after{content:'';display:block;width:100%;height:3px;margin-top:6px;background:#fff;border-bottom:3px solid #ccc;}
.arts-nav a.arts-nav-active{color:#016CAC !important;}
.arts-nav a:hover, .arts-dropdown-btn:hover{color:#016CAC;}
.arts-nav a:focus{background-color:transparent;box-shadow:none;}
.arts-nav a:hover::after,.arts-nav a:focus::after,.arts-dropdown .arts-dropdown-btn:hover::after,.arts-dropdown .arts-dropdown-btn:focus::after{height:3px;background:#016CAC;width:100%;border-bottom:none;}
.arts-nav a.arts-nav-active:after{height:3px;background:#016CAC;width:100%;border-bottom:none;}
.arts-num{color: #777;padding-right:10px;}
.arts-dropdown{float:left;overflow:hidden;}
.arts-dropdown .arts-dropdown-btn{font:unset;padding:14px 16px 0 16px;margin:0;font-size:1.2em;cursor:pointer;background-color:transparent;border:0;font-weight: 600;}


.arts-banner-btn{background-color:#016CAC;color:#fff;padding:6px 10px;border:0;cursor:pointer;font-size:1em;border-radius:4px;box-shadow:0 4px 8px 0 rgba(0,0,0,0.15);width:100px;position:relative;text-align:center;display:none;}
.arts-banner-btn:hover{background-color:#1B7BAF;}
.arts-banner-btn i{display:none;position:absolute;right:7px;top:10px;}







/* --------------- mobile -----------------*/
@media all and (max-width: 950px) {
    .arts-banner-btn{display: block;}
    .arts-nav{display: none;border-bottom: 0px;}
    .arts-nav a, .arts-dropdown{
        width:100%;
        /*border-bottom: 1px solid rgba(0,0,0,0.1); */
        text-align: left;
        padding-bottom:0;
    }
    .arts-dropdown-btn, .arts-nav-second-row span{
        padding-bottom:0;
    }
}
@media all and (min-width: 951px) {
    .arts-banner-btn{display: none;}
    .arts-nav{display: block !important}
}




