
/* ----- moodle ----- */

.course-content ul.gtopics li.section .content{margin:0;}
.section .label .mod-indent-outer{padding-left:0;}
.section .activity.modtype_label.label{padding-bottom: 2rem;}
h3.sectionname{display:none;}
.section .label .contentwithoutlink, .section .label .activityinstance{padding-right:0;}
.section .activity.modtype_label.label{padding:0 0 3rem 0;}
.section-title{display:none;}
.header-button .singlebutton {position:fixed;top:81px;right:20px;z-index:9000;}
#page-header{margin-bottom:0;}



/* ----- breadcrumbs ----*/
/*#page-navbar {background-color:#D3EDF0;margin-left:-35px;margin-right:-35px;padding:0;}
#page-navbar nav{margin-left:35px;}
#page-navbar{padding-bottom:0;}
li.breadcrumb-item a{border-radius:0;padding:0.5rem !important;color: #006dae !important;}
li.breadcrumb-item a:hover{border-radius:0;background: #006dae !important;}
.breadcrumb-item+.breadcrumb-item::before{content:"";}*/



/* ----- sticky ----- */
.sticky {margin-top: 70px !important;}


/* ----- sections ----- */
#aboutSection{padding:20px;margin:10px;-webkit-box-shadow: 0 0 10px 1px rgba(94,94,94,0.3);box-shadow: 0 0 10px 1px rgba(94,94,94,0.3);border: 1px solid #ccc;}
#keyDates{margin:10px;}
#synopsis{margin:10px;}
#teachingLearning{margin:10px;}
.pep_blue{background-color:#D3EDF0;padding:20px;margin:10px;}

.pep_acknowledgement{text-align:center;background-color:#fff;padding:20px;}
.pep_acknowledgement p{margin-bottom:0;}

/* ----- titles ----- */
.pep_title{background-color:#e8eaeb;padding:30px !important;}
.pep_title_img{background-color:#e8eaeb;}
.pep_title h1{font-size:1.5rem;}
.pep_title_line{background-color:#10A1AF;height:5px;width:100px;margin-bottom:1rem;}
h4.bluetitle{color:#006DAE;}
.pep_line{background-color:#10A1AF;height:2px;margin-bottom:10px;}


/* ----- general ----- */
.no-padding{padding:0;}
.flex{display:flex;}
.align-ctr{align-items:center;}
.just-end{justify-content:flex-end;}
.just-ctr{justify-content:center;}
.flex-col{flex-direction:column;}


/* ----- buttons ----- */
.pep_dark_blue{background-color:#022868;}


/* ----- round buttons ----- */
.pep_round_box{padding:0;display:flex;justify-content:center;}
.pep_round_box p{padding:10px;margin-bottom:0;text-align:center;font-size:0.9rem;line-height:1.3rem;}
.pep_round{width:130px;height:130px;border-radius:50%;display:flex;justify-content:center;align-items:center;position:relative;}
.pep_center{width:110px;height:110px;border-radius:50%;display:flex;align-items:center;justify-content:center;}
.pep_round_4cp{background-color:#10A1AF;}
.pep_center_4cp{background-color:#DAF0F2;}
.pep_round_2cp{background-color:#FF7B40;}
.pep_center_2cp{background-color:#FFE8DE;}
/*.pep_round_2{background-color:#484C7F;}
.pep_center_2{background-color:#E8E9F7;}
.pep_round_3{background-color:#006DAE;}
.pep_center_3{background-color:#E1F4FF;}*/

.pep_tooltip{cursor: pointer;}
.pep_line_color4cp{border-left:3px solid #10A1AF;}
.pep_line_color2cp{border-left:3px solid #FF7B40;}
.pep_popup_space_top{margin-top:100px}
.pep_popup_space_bottom{margin-bottom:400px}
/*.pep_line_color2{border-left:3px solid #484C7F;}
.pep_line_color3{border-left:3px solid #006DAE;}*/

.pep_vert_line_up{visibility:hidden;position:absolute;top:-60px;left:50%;height:0;transform:translateY(60px);transition: height 0.5s, transform 0.5s;z-index: 2000;}
.pep_vert_line_down{visibility:hidden;position:absolute;top:130px;left:49%;height:0;transition: height 0.5s; transform-origin:top;z-index: 2000;}

.pep_tooltip .tooltiptext{visibility:hidden;width:400px;background-color:#fff;color:#000;border-radius:6px;padding:10px 0;position:absolute;z-index:2001;-webkit-box-shadow:0 0 13px 0 #828282;box-shadow:0 0 13px 0 #828282;transition: opacity 0.5s ease-in 0.25s;opacity: 0;}

.pep_tooltip .tooltipcenter{left:29%;}
.pep_tooltip .tooltipleft{left:30px;}
.pep_tooltip .tooltipright{right:30px;}
.pep_tooltip .tooltiptop{bottom:145%;}
.pep_tooltip .tooltipbottom{top:145%;}
.pep_tooltip:hover .tooltiptext{visibility: visible;opacity:1}
.pep_tooltip:hover .pep_vert_line_up{visibility:visible;transform:translateY(0px);height:60px;}
.pep_tooltip:hover .pep_vert_line_down{visibility:visible;height:60px;}

.pep_tooltip_title{color:#006DAE;font-size:1.1rem !important;}
.pep_tooltip .tooltiptext p{text-align:left;font-size: 1rem;line-height: 1.5rem;}

.pep_bar{background:#006dae;width: 85%;font-weight:bold; color:#fff;}
.pep_top_bar::after{content:" ";position:absolute;top:75%;left:50%;margin-left:-40px;border-width:40px;border-style:solid;border-color:#006dae transparent transparent transparent;}
.pep_bottom_bar::after{content:" ";position:absolute;bottom:75%;left:50%;margin-left:-40px;border-width:40px;border-style:solid;border-color:transparent transparent #006dae transparent;}


.pep_left_line{border-bottom:3px dashed #ccc;width:50%;position:absolute;margin-top:40px;margin-left:47%;z-index:-1;}
.pep_full_line{border-bottom:3px dashed #ccc;width:100%;position:absolute;margin-top:40px;z-index:-1;}
.pep_right_line{border-bottom:3px dashed #ccc;width:50%;position:absolute;margin-top:40px;margin-right:47%;z-index:-1;}
.pep_down_line{border-left: 3px dashed #ccc;height:60%;position:absolute;margin-top:100px;z-index:-1;}


@media (max-width: 991px){
    .pep_tooltip .tooltip2{right:30px;left:unset;}
    .pep_tooltip .tooltip3{left:30px;right:unset;}
}
@media (max-width: 767px){
    .pep_tooltip .tooltipleft{left:unset;}
    .pep_tooltip .tooltipright{right:unset;}
    .pep_tooltip .tooltip2{right:unset;}
    .pep_tooltip .tooltip3{left:unset;}
}


