.sticky{
  position: fixed !important;
  top: 0;
  left:0;
  width: 100%;
  margin-top: 31px !important;
  z-index: 1000;
}
.stickyNavOnly {
margin-top: 64px !important;
}
.sticky .content{
	padding:0 !important;
}
.sticky .left.side{
	width:0px !important;
}
.sticky .section{
	display:none;
}
/*.sticky .arts-banner-btn{
	position: absolute;
	right: 10px;
	top: -40px;
}*/
#region-main{
	padding:5px !important;
}
#section-0 .content{
	padding:0 !important;
}
#section-0 .side{
	width:0 !important;
}
.sticky + .tcsection{
	padding-top: 140px !important;
}
