.tooltip {
border-bottom: none !important;
cursor: none !important;
}
.tooltip-inner {
  text-align: left;
  padding: 15px;
  font-size: 1.05rem;
  max-width: 480px !important;
  border-radius: 5px;
}
